.whatsapp-widget {
  color: #fff;
  z-index: 9999;
  cursor: pointer;
  background-color: #25d366;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  transition:
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 0.3s;
  display: flex;
  position: fixed;
  bottom: 54px;
  right: 100px;
  box-shadow: 0 4px 12px #00000026;
}
.whatsapp-widget:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px #25d36666;
}
.whatsapp-widget svg {
  margin-top: 1px;
  margin-left: 1px;
}
@media (width<=768px) {
  .whatsapp-widget {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
  }
  .whatsapp-widget svg {
    width: 28px;
    height: 28px;
  }
}
@media (width<=480px) {
  .whatsapp-widget {
    width: 46px;
    height: 46px;
    bottom: 16px;
    right: 16px;
  }
  .whatsapp-widget svg {
    width: 26px;
    height: 26px;
  }
}
